#footer{position:sticky;bottom:0;}
body{background-color:#E42C6A;}
#camera{width:300px;
height:300px;
border:1px solid #150734}
img{width:30%;
border-radius:4px;
padding:10px;
box-shadow:0 6px 6px 0 rgb(0, 0, 0)}
.column{display:inline}
img:hover {border-radius:140px;}